{{ define "index"}}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Greek and Hebrew Transliterator</title>
    <link type="text/css" rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  </head>
  <body>
      <div id="app">
        <div class="jumbotron container mt-5 mx-auto w-75">
          <h1 class="text-center mb-5 font-main font-xl">Transliterator</h1>
          <form method="POST" action="/">
            <div class="d-flex justify-content-between p-3">
              <div class="form-group mb-2 w-50">
                <span class="ml-1 font-lg pointer">
                  <i class="fas fa-angle-up" @click="langUp"></i>
                </span>
                <div class="bg-dark mt-3 rounded width-md">
                  <p class="text-light ml-1 font-lg font-main">{{ `{{ currentLang }}` }}</p>
                </div>
                <span class="ml-1 font-lg pointer">
                  <i class="fas fa-angle-down" @click="langDown"></i>
                </span>
              </div>
              <div class ="form-group mx-sm-3 mb-2">
                <textarea name="text" type="text" cols="50" rows="10" :dir="direction" class="form-control bg-dark text-white" placeholder="..."></textarea>
              </div>
            </div>
            <input type="hidden" name="lang" :value="currentLang"/>
            <button type="submit" class="btn btn-block btn-outline-primary mt-5">Transliterate!</button>
          </form>
        </div>
      </div>
      <script type="module" src="/static/js/index.js"></script>
  </body>
</html>
{{ end }}